// Main

main {
    
    .top-bar {
        top: 0;
        position: sticky;
        padding: 28px 0;
        background-color: $background;
        background-attachment: fixed;
        background-image: url('../img/bg-pattern.svg');
        background-size: 10px;
        z-index: 100;

        &__title {
            margin-top: 0;
            margin-bottom: 0;
            text-align: center;
            color: $brand;
        }
    }

    // Breakpoint

    @include breakpoint(medium) {
        @include grid() {
            grid-column: 1 / span 3;
            grid-row: 2 / span 1;

            // Grid

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 150px min-content;

            .top-bar {
                grid-column: 1 / span 5;
                grid-row: 1 / span 1;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}