// #######################################
// Colors
// #######################################
    
// Papergolf Colors
$white: #FFF;
$grey-dark: #343A40;
$grey: #495057;
$grey-light: #868E96;
$green-dark: #04A547;
$green: #04C956;
$green-light: #61FF7E;

// Website
$brand: $green;
$brand-light: $green-light;
$brand-dark: $green-dark;
$background: $white;

// #######################################
// Layout
// #######################################

$wrapper: 1140px;
$wrapper-padding: 20px;

$breakpoint-small: 52.500em; // 840px
$breakpoint-medium: 73.750em; // 1180px 
$breakpoint-large: 90.000em; // 1440px

// #######################################
// Typography
// #######################################

// Family
$f-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$f-family: 'proxima-nova', $f-system;
$f-family-heading: 'proxima-soft', $f-system;
$font-light: 300;
$font-normal: 400;
$font-bold: 700;
$font-bolder: 800;

// Color
$font-color: $grey;
$font-dark-color: $grey-dark;
$font-light-color: $grey-light;

// Font Sizes
// Use these to control fluid font sizes
$screen-min: 460px;
$screen-max: 1140px;

$f-mini-size1: 11px;
$f-mini-size2: 10px;
$f-small-size1: 13px;
$f-small-size2: 14px;
$f-p-size1: 16px;
$f-p-size2: 18px;
$f-h4-size1: 19px;
$f-h4-size2: 24px;
$f-h3-size1: 23px;
$f-h3-size2: 32px;
$f-h2-size1: 28px;
$f-h2-size2: 43px;
$f-h1-size1: 33px;
$f-h1-size2: 57px;